.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #fafafa;
}

.yearInput {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.yearInputLabel {
  margin-right: 0.5rem;
}

.content {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 4px;
}

.footer {
  padding: 1rem;
  text-align: center;
}

@keyframes brightness-blink {
  0%,
  100% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.1);
  }
}

.blinking {
  /*animation: brightness-blink 1s linear infinite;*/
  filter: brightness(1.2);
}

.groupRow:hover td {
  filter: brightness(1.1);
}

.gpt h3 {
  padding: 2px;
  font-weight: bold;
  margin-bottom: 5px;
  background-color: #d2d2d2;
}

.gpt p {
  margin-bottom: 15px;
}

.expensesblock {
  display: grid;
  grid-template-rows: 44px auto;
}

.gridRow {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
