/* components/CV.module.css */

.a4 {
  display: flex;
  flex-direction: row;
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  margin: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  page-break-after: always;
}

.column {
  flex: 1;
}

#left-column {
  /* Estilos para la columna izquierda */
}

#right-column {
  /* Estilos para la columna derecha */
}

.printButton {
  display: block;
  margin: 10mm auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos para la impresión */
@media print {
  .a4 {
    box-shadow: none;
    width: 100%;
    min-height: 0;
    page-break-after: auto;
  }

  .printButton {
    display: none;
  }
}
